<%- include("../partials/global/head", { title: "Logitech G703 Wireless HERO 2.4GHz RGB" , css: "productDetailStyle" })
    %>
    <%- include("../partials/global/header", { showNav: true })%>
    </body>

    </html>