/* Estilos de los textos */

a {
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
}

h2 {
    color: black;
    font-family: "Sora", sans-serif;
    margin: 0;
}

p {
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/* Estilos de CSS */
/* Header */
.header__top {
    width: 100%;
    height: 100px;
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2em;
}

.logo {
    width: 125px;
    height: auto;
}

.header__search-box {
    position: relative;
    width: 100%;
}

.header__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header__inputSearch {
    padding: 12px 45px 12px 15px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 14px;
    margin-right: 1em;
    display: none;
}

.header__search-btn {
    position: absolute;
    right: 0px;
    top: 20%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.container-navegation__button-menu {
    background: none;
    border: none;
    cursor: pointer;
}

.container-navegation__header-navegation {
    display: none;
}

.ingresar {
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.5em;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ingresar:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05, 1.05);
}

.shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.shopping-cart:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05, 1.05);
}

/* Fin del header */

/* Main content */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100vw;
    padding: 1em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E2E2E2;
    width: 400px;
    height: auto;
    border-radius: 15px;
    gap: 0.5em;
    padding: 2em;
}

#tituloForm {
    font-size: 30px;
}

.descriptions{
    color: #8F00FF;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3em;
    margin-top: 2em;
    width: 100%;
}

.login__input {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}

.login__input::placeholder {
    font-style: italic;
    font-weight: 300;
}

.login__input:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.login__password{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.login__input-remember{
    width: 100%;
}

.login__checkbox{
    display: flex;
    gap: 5px;
}

.remember{
    color: #0D0D0D;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.buttonSubmit {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #8F00FF;
    border: none;
    border-radius: 5px;
    padding-block: 13px;
    transition: 0.5s all ease;
    margin-block: 5px;
    width: 100%;
}

.buttonSubmit:hover {
    transform: scale(1.02, 1.02);
}

.link-p {
    color: #3870FE;
    border-bottom: 1px solid transparent;
    transition: 0.3s all ease;
}

.link-p:hover {
    border-bottom: 1px solid #3870FE;
}

/* Fin main content */

@media (min-width: 1024px) {

    /* Header */
    .header__top {
        gap: 20px;
        justify-content: center;
    }
    
    .header__search-form {
        width: 300px;
    }

    .header__search-box {
        position: relative;
        display: flex;
        align-items: center;
    }

    .header__inputSearch {
        display: flex;
        margin-right: 0;
    }

    .container-navegation__button-menu {
        display: none;
    }

    .container-navegation__header-navegation {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    /* Fin del header */
    /* Main content */
    main {
        padding: 0;
    }

    .container {
        height: 480px;
    }

    .login__input {
        width: 100%;
    }

    .buttonSubmit {
        grid-column: span 2;
        width: 100%;
    }

    /* Fin main content */
}