/* Configuracion global */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1F1F1F;
}

/* Sprite */

.icon {
    width: 30px;
    height: 30px;
    color: #8F00FF;
}

.icon-search {
    width: 30px;
    height: 30px;
    color: #8F00FF;
}

#icon-truck,
#icon-shield {
    color: #646464;
}

#icon-check {
    color: #46D25B;
}

#icon-cart-button,
#icon-user-circle {
    color: white;
}

/* Estilos de los textos */

a {
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
}

p {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

h4 {
    margin: 0;
    font-family: "Sora", sans-serif;
    font-weight: 500;
}

button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

/* Estilos de CSS */

/* Header */
.header__top {
    width: 100%;
    height: 100px;
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2em;
}

.logo {
    width: 125px;
    height: auto;
}

.header__search-box {
    position: relative;
    width: 100%;
}

.header__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.header__inputSearch {
    padding: 12px 45px 12px 15px;
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 14px;
    margin-right: 1em;
    display: none;
}

.header__search-btn {
    position: absolute;
    right: 0px;
    top: 20%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.container-navegation__button-menu {
    background: none;
    border: none;
    cursor: pointer;
}

.container-navegation__header-navegation {
    display: none;
}

.ingresar {
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.5em;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.ingresar:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05, 1.05);
}

.shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.shopping-cart:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05, 1.05);
}

.header__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.navbar-a {
    margin-inline: 0.8em;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

.navbar-a:hover {
    color: #8F00FF;
}

/* Fin del header */

main {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product {
    width: 100%;
    border-radius: 25px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.product__main-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.imagenProducto {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-inline: 10px;
}

.imgContainer {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
}

.product__images {
    width: 100%;
    padding: 1em;
}

.quantity-fotos {
    width: 95px;
    border-radius: 5px;
    color: white;
    background-color: #8F00FF;
    padding: 6px 12px;
    margin-bottom: 1em;
}

.thumbnails {
    margin-block: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.thumb {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid transparent;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.thumb.active {
    border-color: #8F00FF;
    background: white;
}

.product__summary {
    margin-inline: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: start;
}

.product__title {
    margin-top: 0;
    font-family: "Sora", sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 0;
}

.button-copy {
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    border-radius: 5px;
    transition: all .5s ease;
}

.button-copy:hover {
    border: 1px solid #8F00FF;
    transform: scale(1.03, 1.03);
}

.product__prices {
    border-radius: 25px;
    padding: 1.5em;
    border: 1px solid #00000030;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.best-price {
    font-weight: 300;
}

.discount {
    display: flex;
    gap: 8px;
    font-size: 10px;
    font-weight: 600;
}

.original-price {
    text-decoration: line-through;
}

.diference {
    color: #46D25B;
}

.final-price {
    font-size: 40px;
    font-weight: 600;
    color: #8F00FF;
}

.original-price,
.diference,
.final-price {
    font-family: "Sora", sans-serif;
}

.info-discount {
    color: rgba(0, 0, 0, 0.75);
}

.product__features {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.feature {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #646464;
}

.stock {
    color: #46D25B;
}

.product__button-cart {
    display: flex;
    align-items: center;
    color: white;
    background-color: #8F00FF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: .5s all ease;
}

.product__button-cart:hover {
    transform: scale(1.03, 1.03);
}

.details {
    width: 100%;
    border-radius: 25px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1em;
    gap: 15px;
}

.details__navigation {
    width: 100%;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.tab {
    font-size: 18px;
    font-weight: 300;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    transition: .3s all ease;
}

.tab:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.tab-active {
    border-bottom: 1px solid #8F00FF;
    color: #8F00FF;
    transition: .5s all ease;
}

.tab-active:hover {
    border-bottom: 1px solid #8F00FF;
    color: #8F00FF;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.p-info {
    font-weight: 200;
    font-size: 16px;
}

.info-button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #8F00FF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: .5s all ease;
}

.info-button:hover {
    transform: scale(1.03, 1.03);
}

@media (min-width: 1024px) {

    /* Header */
    .header__top {
        gap: 20px;
        justify-content: center;
    }

    .icon-search {
        position: absolute;
        right: 15px;
        top: 20%;
        width: 24px;
        height: 24px;
        color: #0D0D0D;
    }

    .header__search-form {
        width: 300px;
    }

    .header__search-box {
        position: relative;
        display: flex;
        align-items: center;
    }

    .header__inputSearch {
        display: flex;
        margin-right: 0;
    }

    .container-navegation__button-menu {
        display: none;
    }

    .container-navegation__header-navegation {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    /* Fin del header */

    .product {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: start;
        padding: 0;
    }

    .imgContainer {
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        width: 100%;
        height: 100%;
    }

    .imagenProducto {
        object-fit: contain;
        width: 100%;
        height: 500px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-inline: 10px;
    }

    .thumbnails {
        margin-bottom: 0;
    }

    .product__summary {
        margin-top: 2em;
        margin-left: 2em;
    }

    .product__title {
        margin-top: 10px;
    }

    .button-copy {
        padding: 4px 8px;
    }

    .product__button-cart {
        margin-top: 30px;
    }

    .product__prices {
        max-width: 500px;
    }

    .details {
        max-width: 1200px;
    }

}