.footer {
    background-color: rgba(13, 13, 13, 0.85);
    backdrop-filter: blur(4px);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1em 0.75em;
    font-size: 0.9rem;
    gap: 0.3em;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 80;
}

.FT_footer-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    padding-block: 6px 6px;
    width: 100%;
    justify-content: center;
}

.FT_logo {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform .5s ease;
}

.FT_logo:hover {
    transform: scale(1.05);
}

.FT_footer-links {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.FT_footer-links a {
    padding: 0.3em 0.5em;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-white);
    font-family: "Inter", sans-serif;
    font-size: 0.85rem;
    background-color: transparent;
    transition: transform .4s ease, background-color .4s ease;
}

.FT_footer-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05, 1.05);
}

.FT_footer-bottom {
    gap: 0;
    display: flex;
    flex-direction: column;
}

.FT_extra-data {
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
    font-family: "Inter", sans-serif;
    max-width: 300px;
    text-align: center;
    font-size: 0.8em;
}

.FT_footer-bottom p {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 0.8em;
}

@media (min-width: 1024px) {
    .footer {
        padding: 0 1em 1.5em;
        gap: 1em;
    }

    .FT_footer-top {
        padding-block: 15px 5px;
        gap: 10px;
    }

    .FT_logo {
        width: 125px;
    }

    .FT_footer-links {
        margin-top: 10px;
        gap: 1em;
    }

    .FT_footer-links a {
        padding: 0.6em;
        font-size: 0.9rem;
    }

    .FT_footer-bottom p,
    .FT_extra-data {
        font-size: 0.9em;
    }
}