.icon {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}

.icon-search {
    width: 30px;
    height: 30px;
    color: var(--color-primary);
}

.icon-search-filter {
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}

.arrowRight {
    transform: rotate(180deg)
}

.icon-coins {
    width: 30px;
    height: 30px;
    color: #0D0D0D;
}

.icon-truck,
.icon-shield {
    color: #646464;
}

.icon-check {
    color: #46D25B;
}

.icon-cart-button,
.icon-user-circle {
    width: 24px;
    height: 24px;
    color: var(--text-white);
}

.button-list {
    width: 18px;
    height: 18px;
}

.icon-edit {
    width: 16px;
    height: 16px;
}

.icon-nav-profile {
    width: 18px;
    height: 18px;
}

.icon-password-toggle {
    width: 18px;
    height: 18px;
}

.icon-detail-admin {
    width: 16px;
    height: 16px;
    color: white;
}

@media (min-width: 1024px) {
    .icon-search {
        position: absolute;
        right: 15px;
        top: 20%;
        width: 24px;
        height: 24px;
        color: #0D0D0D;
    }
}