<footer class="footer">
    <div class="FT_footer-top">
        <a href="/">
            <img src="/images/ui/techBoxLogo.png" alt="Logo" class="FT_logo">
        </a>
        <nav class="FT_footer-links">
            <a href="#">Términos</a>
            <a href="#">Privacidad</a>
            <a href="#">Envíos</a>
            <a href="#">Contacto</a>
        </nav>
    </div>
    <div class="FT_footer-bottom">
        <p>© 2026 TechMarket. Todos los derechos reservados.</p>
        <span class="FT_extra-data">Todos los datos dentro del sitio web son estáticos. Intentan simular una página web de verdad</span>
    </div>
</footer>