<header>
    <div class="header__top">
        <a href="/" class="logo-a">
            <img src="/images/ui/techBoxLogo.png" alt="Logo" class="logo">
        </a>
        <div class="header__container">
            <form class="header__search-form" action="/products" method="GET">
                <label for="search" class="header__sr-only">Buscar productos</label>
                <input id="search" name="search" placeholder="Buscar..." type="text" class="header__inputSearch">
                <button type="submit" class="header__search-btn">
                    <svg class="icon-search">
                        <use href="/images/sprite.svg#icon-search"></use>
                    </svg>
                </button>
            </form>
            <div class="header__container-navegation">
                <button class="container-navegation__button-menu">
                    <svg class="icon">
                        <use href="/images/sprite.svg#icon-menu"></use>
                    </svg>
                </button>
                <nav class="container-navegation__header-navegation">
                    <% if (userLogged) { %>
                        <a href="/users/profile" class="ingresar">
                            <strong class="strong-link">
                                <%= userLogged.first_name %>
                                    <%= userLogged.last_name %>
                            </strong>
                        </a>
                        <% } else { %>
                            <a href="/users/login" class="ingresar">
                                <strong class="strong-link">Ingresar</strong>
                                <svg class="icon">
                                    <use href="/images/sprite.svg#icon-user"></use>
                                </svg>
                            </a>
                            <% } %>
                            <a href="/products/cart" class="shopping-cart">
                                    <strong class="strong-link shopping-cart__label">Carrito</strong>
                                    <svg class="icon">
                                        <use href="/images/sprite.svg#icon-cart"></use>
                                    </svg>
                                </a>
                </nav>
            </div>
        </div>
    </div>

    <% if (showNav) { %>
        <%- include("nav-header", { showNav: showNav } ) %>
            <% } %>

</header>

<script>
    const menuBtn = document.querySelector('.container-navegation__button-menu');
    const mobileNav = document.querySelector('.container-navegation__header-navegation');

    menuBtn.addEventListener('click', () => {
        mobileNav.classList.toggle('nav--open');
    });

    document.addEventListener('click', (e) => {
        if (!menuBtn.contains(e.target) && !mobileNav.contains(e.target)) {
            mobileNav.classList.remove('nav--open');
        }
    });
</script>